<div class="container">
  <h1>Edit Student</h1>
  <div class="card">
    <div class="card-body">
      <form #editForm="ngForm">
        <p>Current Student Name: {{ editStudent.name }}</p>
        <p>
          <input
            class="form-control"
            type="text"
            name="sName"
            placeholder="{{ editStudent.name }}"
            ngModel
          />
        </p>
        <p>Current Student Age: {{ editStudent.age }}</p>
        <p>
          <input
            class="form-control"
            type="text"
            name="sAge"
            placeholder="{{ editStudent.age }}"
            ngModel
          />
        </p>
        <p>
          <button
            type="submit"
            class="btn btn-primary"
            routerLink="/student-list"
            (click)="onSubmit(editForm.value)"
          >
            Update Student
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
